* {
  box-sizing: border-box;
}

html {
  background-color: #feffff;
  color: rgba(0, 0, 0, 0.8);
  font: 20px/1 "Helvetica Neue", "Roboto", "Calibri Light", sans-serif;
  letter-spacing: 0.04rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  display: flex;
}

body {
  margin: 0;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.main {
  margin-top: 5rem;
  padding: 5rem 0;
}

h1, h2, h3, h4, h5, p, blockquote {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p, blockquote {
  font-size: 1rem;
  font-family: "PT Serif", serif;
  line-height: 1.6rem;
  letter-spacing: 0;
}

blockquote {
  font-style: italic;
  letter-spacing: 0.02rem;
  color: rgba(0, 0, 0, 0.64);
}

a {
  text-decoration: none;
  color: inherit;
}

.caps {
  text-transform: uppercase;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-size: 1.4rem;
  font-weight: 300;
}

.caption {
  font: italic 0.8rem "PT Serif", serif;
}

.caption small {
  color: rgba(0, 0, 0, 0.64);
  font-style: normal;
  font-size: 0.6rem;
}

.content > .title {
  margin-top: 2.5rem;
}

.paragraph {
  margin-top: 1.25rem;
}

.paragraph:first-of-type {
  margin-top: 1rem;
}

.quote, .quote:first-of-type {
  padding-left: 2.5rem;
  border-left: 0.15rem solid rgba(0, 0, 0, 0.8);
}

.container {
  width: 37rem;
  max-width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
}

.image-container {
  cursor: pointer;
  background-color: rgba(254, 255, 255, 0.1);
  width: 50rem;
  max-width: calc(100vw - 2rem);
  min-height: 18rem;
  max-height: 32rem;
  margin: 2.5rem auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 105%;
  transition: 400ms;
}

.image-container.top {
  align-items: flex-start;
}

.image-container.narrow {
  width: 35rem;
}

.lightbox {
  background-color: rgba(254, 255, 255, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0;
  transition: 400ms opacity;
  z-index: 9999;
}

.lightbox.open {
  background-color: #feffff;
  display: flex;
}

.lightbox.row {
  flex-flow: row nowrap;
  padding-left: 240px;
}

.lightbox.row span {
  width: 220px;
  margin-left: 20px;
}

.lightbox.column {
  flex-flow: column nowrap;
}

.lightbox.column span {
  margin-top: 40px;
}

.lightbox img {
  max-height: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.button, .close-button {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #feffff;
  padding: 0.25rem 0.5rem;
  border: 0.15rem solid rgba(0, 0, 0, 0.8);
  transition: 200ms;
}

.button:hover, .close-button:hover {
  color: black;
  background-color: #ff7;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.button:active, .close-button:active, .button:focus, .close-button:focus {
  color: black;
  background-color: #ff7;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.44);
}

.close-button {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0 0 0.5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
}

.header {
  color: rgba(0, 0, 0, 0.8);
  background-color: #feffff;
  background: linear-gradient(to bottom, #feffff 99%, rgba(254, 255, 255, 0.1));
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: 10;
  transition: 250ms ease;
}

.header .container, .header .row > *, .header .nav {
  transition: 250ms ease;
}

.header .row {
  flex: 100%;
}

.header .nav {
  margin-left: auto;
  align-self: flex-end;
}

.small {
  height: 2rem;
  align-items: center;
}

.small .container {
  flex-flow: row nowrap;
  align-items: center;
  width: 50rem;
}

.small .container .row {
  flex: 1;
}

.small .container .title, .small .container .subtitle {
  font-size: 0.8rem;
}

.small .container .subtitle {
  display: none;
}

.small .container .nav {
  margin-left: auto;
}

.nav {
  display: flex;
  align-self: flex-end;
}

.footer {
  margin-top: auto;
  font-size: 0.6rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hidden {
  display: none;
}
